.link_1 {
    margin-left: 15%;
    color: #8E8E8E;
}

div.link_1 a {
    text-decoration: none;
    margin: 5px;
    color: #8E8E8E;
    font-size: 80%;
}

.link_2 {
    margin-left: 35%;
    color: #8E8E8E;
}

div.link_2 a {
    text-decoration: none;
    margin: 5px;
    color: #8E8E8E;
    font-size: 80%;
}

div.link_3 select {
    margin-top: 10px;
    color: #8E8E8E;
    font-size: 80%;
    margin-left: 5%;
    border: 0px;
}

div.link_3 p {
    margin-left: 5%;
}

.link_3 {
    display: flex;
}